body {
    color: coral;
    background-color: lightgreen;
    font-family: 'Calibri', sans-serif;
}

.div1 {
    background-color: midnightblue;
    color: coral;
    padding: 20px;
    margin: 20px 0;
}